canvas {
    position: fixed;
    top: 0;
    left: 0;
    //width: 100%;
    //height: 100%;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 20pt;
    font-family: sans-serif;
}

body {
    background-color: white;
    transition: background-color 0.3s;
    text-align: center;
}

body.drag-hover {
    background-color: dodgerblue;
}

body.drag-hover .drop-msg {
    visibility: visible;
}

.drop-msg {
    visibility: hidden;
    margin: 10% auto;
    display: inline-block;
    text-transform: uppercase;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 3px;
    word-spacing: 1em;
    pointer-events: none;
}


#visual {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0.9;
}
.bar {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    
    //background: dodgerblue;
    //margin: 0px 20px;
    //transition-property: width,height;
    //transition-duration: 0.1s,0.1s;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#bg,
#drag-drop-msg,
#progress {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
}

#bg {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

#progress {
    width: 0%;
    transition: width 0.3s;
}

#drag-drop-msg {
    display: flex;
    color: gray;
    align-items: center;
    justify-content: center;
}

.green {
    color: yellowgreen;
}

.details {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    opacity: 0.7;
}

.controls {
    z-index: 999;
/*    display: inline-block;*/
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 20px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    
    text-align: left;
    opacity: 0.7;
}
.controls input {
    margin: 0px;
}
.controls i {
    color: black;
    text-shadow: 0px 0px 1px rgb(255, 255, 255);
}
.controls .play-pause {
    cursor: pointer;
}
.controls.loaded {
    display: inline-block;
}